@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0rem;
    color: black;
    margin: 0rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* input[type="checkbox"]::before{
    background-color:green;
    accent-color: #000000
    } */

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #CCCCCC !important;
    accent-color: #000000;
    color: #FFFFFF;
  }
  